@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

@font-face {
  font-family: 'Varsity Team';
  src: url('./font/varsity_regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}